
/**
 * @file
 * Subtheme specific CSS.
 */

/* .awards-list {
    background: red !important;
} */

#block-lms-sitebranding-2 img {
  max-width: 9.6875rem;
}

.back-btn {
  position: absolute;
  left: 1px !important;
  top: -41px !important;
}

#block-lms-sitebranding {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

a.add-docs-btn {
  margin-left: 0px;
  float: left;
  font-weight: bold;
}

.view-documents .content-box__title {
  display: none;
}

.views-exposed-form .form-items-group {
  padding-top: 29px;
}

a.add-docs-btn {
  margin-left: 0px;
  float: left;
  font-weight: bold;
}

.view-external-training .content-box__title {
  display: none;
}

.views-exposed-form .form-items-group {
  padding-top: 29px;
}

.page-opigno-statistics-members-training-details .progress {
  background-color: #fff !important;
}

a.action-training-report {
  color: black !important;
}

.view-opigno-training-catalog .views-row {
  pointer-events: none !important;
}

.view-opigno-training-catalog .views-row .progress-wrapper {
  pointer-events: auto !important;
}