<!-- group/{group}/inner-courses -->

<base href="{{ base_path ~ base_href }}">

<script type="text/javascript">
  window.appConfig = {
    formSubmitBtn: false,
    groupId: {{ learning_path_id }},
    groupType: '{{ group_type }}',
    apiBaseUrl: '{{ base_path }}',
    viewType: '{{ view_type }}',
    userHasInfoCard: '{{ user_has_info_card }}',
    hideInfocardUrl: '/opigno-group-manager/hide-info-card',
    getCourses: '/group/%groupId/courses/get-items',
    getEntitiesUrl: '/group/%groupId/get-items',
    getEntitiesPositionsUrl: '/group/%groupId/get-positions',
    setEntitiesPositionsUrl: '/group/%groupId/set-positions',
    getEntitiesTypesUrl: '/group/%groupId/get-item-types',
    getEntitiesAvailableUrl: '/group/%groupId/get-available-items',
    getEntityFormUrl: '/group/%groupId/item-form/%bundle/%entityId{{ parent_learning_path }}',
    getActivitiesUrl: '/group/%moduleId/get-activities',
    getGuidedNavigationUrl: '/group/%groupId/get-guided-navigation',
    getRequiredActivitiesUrl: '/group/%contentType/%entityId/get-activities-required',
    submitAddEntityFormUrl: '/group/%groupId/create-item/%bundle',
    addEntityUrl: '/group/%groupId/add-item',
    removeEntityUrl: '/group/%groupId/remove-item',
    addEntityLinkUrl: '/group/%groupId/add-link',
    updateEntityLinkUrl: '/group/%groupId/update-link',
    removeEntityLinkUrl: '/group/%groupId/remove-link',
    updateEntityMandatoryUrl: '/group/%groupId/update-mandatory',
    updateEntityMinScoreUrl: '/group/%groupId/update-min-score',
    updateEntitiesUrl: '/group/%groupId/update-entities',
    updateGuidedNavigationUrl: '/group/%groupId/update-guided-navigation',
    activitiesPageUrl: '/group/%groupId/inner-modules',
    text_add_your_first_item: '{{ "Add your first item"|t|e }}',
    text_guided_navigation: '{{ "Guided navigation"|t|e }}',
    text_free_navigation: '{{ "Free navigation"|t|e }}',
    text_if_entity_dropped_under_children: '{{ "Cannot drop under or at the same level as children, move children before"|t|e }}',
    text_cannot_drop_over_or_at_the_same_level: '{{ "Cannot drop over or at the same level as parent"|t|e }}',
    text_click_now_on_the_two_steps_of_your_training: '{{ "Click now on the two steps of your training to be linked in order to create the link"|t|e }}',
    text_status_message: '{{ "Status message"|t|e }}',
    text_conditions: '{{ "Conditions"|t|e }}',
    text_edit: '{{ "edit"|t|e }}',
    text_last_step: '{{ "Last step:"|t|e }}',
    text_validate: '{{ "Validate"|t|e }}',
    text_cancel: '{{ "cancel"|t|e }}',
    text_delete_link: '{{ "delete link"|t|e }}',
    text_this_action_create_an_orphan: '{{ "This action create an orphan, confirm:"|t|e }}',
    text_confirm: '{{ "confirm"|t|e }}',
    bt_add_a_link: '{{ "add a link"|t|e }}',
    nextLink: '{{ next_link }}',
    text_opigno_module: '{{ "LMS module"|t|e }}',
    text_course: '{{ "Course"|t|e }}',
    text_create_a_new: '{{ "Create a new"|t|e }}',
    text_or_add_from_existing_catalogue: '{{ "Or add from the existing catalog"|t|e }}',
    text_live_meeting: '{{ "Live meeting"|t|e }}',
    text_instructor_led_training: '{{ "Instructor-Led Training"|t|e }}',
    text_close: '{{ "close"|t|e }}',
    text_add_a_new_item: '{{ "Click here to add a new item"|t|e }}',
    text_do_not_show_this_message_again: '{{ "Do not show this message again"|t|e }}',
    text_modules: '{{ "modules"|t|e }}',
    text_module: '{{ "module"|t|e }}',
    text_add: '{{ "add"|t|e }}',
    text_update: '{{ "update"|t|e }}',
    text_score: '{{ "score"|t|e }}',
    text_delete: '{{ "delete"|t|e }}',
    text_mandatory: '{{ "Mandatory"|t|e }}',
    text_minimum_score_to_validate_step: '{{ "Minimum score to validate step"|t|e }}',
    text_search: '{{ "Search"|t|e }}',
    text_score_2: '{{ "Score"|t|e }}',
    text_answer_at_last_step: '{{ "Answer at last step"|t|e }}',
    text_tree_view: '{{ "Tree view"|t|e }}',
    module_score_validation_error_prefix: '{{ "For module"|t }}',
    course_score_validation_error_prefix: '{{ "For course"|t }}',
    score_validation_error_suffix: '{{ "the min score set cannot be higher than the maximum score that users can get"|t }}',
  };
</script>

<app-root class="d-block">{{ 'Loading app...'|t|e }}</app-root>
